@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0);
    }

    58% {
        transform: translateY(-3px);
    }

    65% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes bounce {
    0% {
        transform: translateY(0);
    }

    10% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0);
    }

    58% {
        transform: translateY(-3px);
    }

    65% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}

#loading_span {
    display: inline-block;
    display: -webkit-inline-box;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

#dot_one {
    animation: bounce 2s ease infinite;
    -webkit-animation: bounce 2s ease infinite;
}

#dot_two {
    animation: bounce 2s ease infinite .3s;
    -webkit-animation: bounce 2s ease infinite 0.3s;
}

#dot_three {
    animation: bounce 2s ease infinite .6s;
    -webkit-animation: bounce 2s ease infinite 0.6s;
}